/* .hero-gradient {
    
    background: linear-gradient(135deg, #3546a0 0%, #818cf8 100%);
}

.footer-gradient {
    
    background: linear-gradient(to right, #1f5b9e, #818cf8);
} */

.hero-gradient {
    background: linear-gradient(135deg, #3546a0 0%, #818cf8 100%);
}
.footer-gradient {
    background: linear-gradient(to right, #1f5b9e, #818cf8);
}


button {
    transition: all 0.3s ease;
}


.grid > div:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}